@import "../node_modules/bootstrap/flatly/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/flatly/bootswatch";

* {
    font-family: var(--bs-font-sans-serif) !important;
}

.zx-toast {
    z-index: 9999;
}

.cell-table tr:nth-child(even) > td.dash-cell {
    background-color: $light;
}

.cell-table tr:nth-child(odd) > td.dash-cell {
    background-color: $dark;
}

.nav-tabs,
.nav-link {
    border-color: $secondary !important;
}

.nav-link {
    border-bottom-style: none !important;
}

.form-date-picker input {
    @extend .form-control
}

div.SingleDatePickerInput {
    border: none !important;
}