@import "common.scss";

.page-customer-profile .nav-item.add-dog-tab > a {
    background-color: $success;
    color: $white;
    transition: all 500ms;
}

.page-customer-profile .nav-item.add-dog-tab > a:hover {
    filter: brightness(90%);
}

.page-customer-profile .dict-form-field.dog_id {
    width: 20%;
    min-width: 60px;
    max-width: 100px;
}

.page-customer-profile .dict-form-field.dog_name {
    flex-grow: 1;
    min-width: 60%;
}

.page-customer-profile .dict-form-field.birth_date {
    width: 20%;
}

.page-customer-profile .dict-form-field.breed {
    flex-grow: 1;
    min-width: 50%;
}

.page-customer-profile .dict-form-field.dog_created_timestamp {
    width: 25%;
    min-width: 180px;
    max-width: 200px;
}

.page-customer-profile .dict-form-field.dog_notes {
    width: 100%;
    flex-grow: 1;
}

.page-customer-profile .dict-form-field.dog_notes textarea {
    height: 150px;
}

.page-customer-profile .dict-form-field.address {
    flex-grow: 1;
    min-width: 70%;
}

.page-customer-profile .dict-form-field.balance_in_eur {
    width: 30%;
    min-width: 150px;
    max-width: 250px;
}

.page-customer-profile .dict-form-field.customer_notes {
    width: 100%;
    flex-grow: 1;
}

.page-customer-profile .dict-form-field.customer_notes textarea {
    height: 100px;
}

.page-customer-profile .dict-form-field.person_name {
    width: 50%;
    min-width: 300px;
    flex-grow: 1;
}

.page-customer-profile .dict-form-field.phone1,
.page-customer-profile .dict-form-field.phone2 {
    width: 20%;
    min-width: 180px;
    max-width: 200px;
}

.page-customer-profile .dict-form-field.email_address {
    width: 50%;
    min-width: 300px;
    flex-grow: 1;
}